// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #616161;
}
.hide {
    display: none;
}

.cursor {
    cursor: pointer;
}

.h-12 .noUi-handle {
    height: 20px !important;
    width: 20px !important;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-target {
    border: 1px solid #ebedf2;
    background: #fafbfc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-target.noUi-horizontal {
    height: 15px
}

.noUi-target.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -6px;
    border-radius: 50%;
    outline: 0
}

.noUi-target.noUi-horizontal .noUi-handle::before {
    display: none
}

.noUi-target.noUi-horizontal .noUi-handle::after {
    display: none
}

.noUi-target.noUi-vertical {
    height: 150px;
    width: 15px
}

.noUi-target.noUi-vertical .noUi-handle {
    width: 24px;
    height: 24px;
    left: -5.5px;
    top: -6px;
    border-radius: 50%;
    outline: 0
}

.noUi-target.noUi-vertical .noUi-handle::before {
    display: none
}

.noUi-target.noUi-vertical .noUi-handle::after {
    display: none
}

.noUi-target.m-nouislider.m-nouislider--connect-brand .noUi-connect {
    background: #716aca
}

.noUi-target.m-nouislider.m-nouislider--handle-brand .noUi-handle {
    border: 0;
    background: #716aca;
    -webkit-box-shadow: 0 3px 6px -3px #716aca;
    box-shadow: 0 3px 6px -3px #716aca
}

.noUi-target.m-nouislider.m-nouislider--connect-metal .noUi-connect {
    background: #c4c5d6
}

.noUi-target.m-nouislider.m-nouislider--handle-metal .noUi-handle {
    border: 0;
    background: #c4c5d6;
    -webkit-box-shadow: 0 3px 6px -3px #c4c5d6;
    box-shadow: 0 3px 6px -3px #c4c5d6
}

.noUi-target.m-nouislider.m-nouislider--connect-light .noUi-connect {
    background: #fff
}

.noUi-target.m-nouislider.m-nouislider--handle-light .noUi-handle {
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px -3px #fff;
    box-shadow: 0 3px 6px -3px #fff
}

.noUi-target.m-nouislider.m-nouislider--connect-accent .noUi-connect {
    background: #00c5dc
}

.noUi-target.m-nouislider.m-nouislider--handle-accent .noUi-handle {
    border: 0;
    background: #00c5dc;
    -webkit-box-shadow: 0 3px 6px -3px #00c5dc;
    box-shadow: 0 3px 6px -3px #00c5dc
}

.noUi-target.m-nouislider.m-nouislider--connect-focus .noUi-connect {
    background: #9816f4
}

.noUi-target.m-nouislider.m-nouislider--handle-focus .noUi-handle {
    border: 0;
    background: #9816f4;
    -webkit-box-shadow: 0 3px 6px -3px #9816f4;
    box-shadow: 0 3px 6px -3px #9816f4
}

.noUi-target.m-nouislider.m-nouislider--connect-primary .noUi-connect {
    background: #5867dd
}

.noUi-target.m-nouislider.m-nouislider--handle-primary .noUi-handle {
    border: 0;
    background: #5867dd;
    -webkit-box-shadow: 0 3px 6px -3px #5867dd;
    box-shadow: 0 3px 6px -3px #5867dd
}

.noUi-target.m-nouislider.m-nouislider--connect-success .noUi-connect {
    background: #34bfa3
}

.noUi-target.m-nouislider.m-nouislider--handle-success .noUi-handle {
    border: 0;
    background: #34bfa3;
    -webkit-box-shadow: 0 3px 6px -3px #34bfa3;
    box-shadow: 0 3px 6px -3px #34bfa3
}

.noUi-target.m-nouislider.m-nouislider--connect-info .noUi-connect {
    background: #36a3f7
}

.noUi-target.m-nouislider.m-nouislider--handle-info .noUi-handle {
    border: 0;
    background: #36a3f7;
    -webkit-box-shadow: 0 3px 6px -3px #36a3f7;
    box-shadow: 0 3px 6px -3px #36a3f7
}

.noUi-target.m-nouislider.m-nouislider--connect-warning .noUi-connect {
    background: #ffb822
}

.noUi-target.m-nouislider.m-nouislider--handle-warning .noUi-handle {
    border: 0;
    background: #ffb822;
    -webkit-box-shadow: 0 3px 6px -3px #ffb822;
    box-shadow: 0 3px 6px -3px #ffb822
}

.noUi-target.m-nouislider.m-nouislider--connect-danger .noUi-connect {
    background: #f4516c
}

.noUi-target.m-nouislider.m-nouislider--handle-danger .noUi-handle {
    border: 0;
    background: #f4516c;
    -webkit-box-shadow: 0 3px 6px -3px #f4516c;
    box-shadow: 0 3px 6px -3px #f4516c
}

.noUi-target {
    border: 1px solid #ebedf2;
    background: #fafbfc;
    -webkit-box-shadow: none;
    box-shadow: none
}

.noUi-target .noUi-connect {
    background: #716aca
}

.noUi-target .noUi-handle {
    border: 1px solid #dfe2ea;
    -webkit-box-shadow: 0 3px 6px -3px #9ea7c0;
    box-shadow: 0 3px 6px -3px #9ea7c0
}

.c-1-color {
    background: red;
}

.c-2-color {
    background: yellow;
}

.c-3-color {
    background: green;
}

.c-4-color {
    background: blue;
}

.c-5-color {
    background: purple;
}

.d-none {
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

.d-none.open {
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

[disabled] .noUi-connect {
    background: #28a745 !important;
}

.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif) 50% 50% no-repeat;
    z-index: 99999;
}
